{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<script src="{% static 'network/js/like_post.js' %}">
</script>

<div class="m-3 bg-success p-3 border border-success">
    <h3 class="m-0">Hi {{ request.user.first_name }}, see what's happening now</h3>
</div>

{# Masonry Demo by bootstrap: https://v5.getbootstrap.com/docs/5.0/examples/masonry/ #}

<div class="m-3">
    <div class="row"  data-masonry='{"percentPosition": true }'>
    {% for post in page_obj %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            
            <div class="card text-white w-100 bg-primary">
                <div class="card-header">
                    <div class="h5">
                        {{ post.title }}
                    </div>

                    <div class="small card-text">
                        Posted by:
                        <a href="{% url 'user_profile' post.owner.id %}">{{ post.owner.get_full_name }}</a>
                        <br>
                    </div>
                </div>
                
                <div class="card-body">

                    <div class="">
                        {% if post.image %}
                            <img class="img-fluid post-image" src="..{{ post.image.url }}" alt="{{ post.text }}">
                        {% endif %}
                    </div>

                    <div class="text-left">
                        {{post.text}}
                    </div>
                </div>
        
                <div class="card-footer d-flex justify-content-between">
                    <div class="text-muted small">
                        {{post.timestamp|timesince}} ago
                        <br>
                        {{ post.timestamp|date:"n-d-y g:i a" }}
                    </div>

                    <button onclick="like_post({{post.id}})" class="h-auto my-auto btn btn-warning">
                        {# TODO #}
                        {# Another todo, fetch if the post is liked by the user or not #}
                            <span onclick="likepost({{post.id}})" class="mr-2">
                                <i id="liked" class="far fa-thumbs-up"></i>
                            </span>

                            <span id="like-count-{{post.id}}">{{ post.like_count }}</span> likes
                    </button>
                </div>
            </div>
    
        </div>
    {% endfor %}
    </div>
</div>


<nav aria-label="Post Page Navigation">
    <div class="pagination">
        <span class="step-links mx-auto">

            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </li>
                {% endif %}

                {% for i in page_range %}
                <li class="page-item {% if i == page_obj.number %} active {% endif %}">
                    <a class="page-link " href="?page={{ i }}">
                        {{ i }}
                    </a>
                </li>
                {% endfor %}
        
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </span>
    </div>
</nav>
{% comment %}
    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span> 
{% endcomment %}

{% endblock %}