{% load static %}

{# Masonry Demo by bootstrap: https://v5.getbootstrap.com/docs/5.0/examples/masonry/ #}
<div class="m-3">
    <div class="grid">
        <div class="grid-sizer col-md-6 col-lg-4 col-xl-3"></div>

        {% for post in page_obj %}
            <div class="grid-item col-md-6 col-lg-4 col-xl-3 mb-4" id="post-card-{{post.id}}">
                
                <div class="grid-item-content card text-white w-100 bg-primary">

                    {# CARD HEADER #}
                    <div class="card-header">

                        {# POST TITLE #}
                        <div class="h5 mb-0">
                            {{ post.title }}
                        </div>

                        {# POST OWNER #}
                        <div class="small text-muted">
                            Posted by:
                            <a class="badge badge-info" href="{% url 'user_profile' post.owner.id %}">{{ post.owner.get_full_name }}</a>
                            <br>
                        </div>
                    </div>
                    
                    <div class="card-body">

                        {# CARD IMAGE #}
                        <div class="text-center">
                            {% if post.image %}
                                <img class="img-fluid post-image mb-3" src="..{{ post.image.url }}" alt="{{ post.text }}">
                            {% endif %}
                        </div>
                        
                        {# CARD TEXT #}
                        <div class="text-left post-text prewrap" id="post-text-{{post.id}}">{{post.text}}</div>

                        {# EDIT BUTTON #}
                        {% if post in owned_posts and user.is_authenticated %}
                        <div>
                            <button id="edit-save-btn-{{post.id}}" 
                                    class="btn btn-warning btn-sm w-100 mt-3" 
                                    onclick="edit_post({{post.id}})"
                                    data-toggle="popover-edit-save">Edit
                            </button>
                        </div>
                        <div>
                            <button id="delete-btn-{{post.id}}" 
                                    class="btn btn-danger btn-sm w-100 mt-2" 
                                    onclick="delete_post({{post.id}})"
                                    data-toggle="popover-delete">Delete
                            </button>
                        </div>
                        {% endif %}
                    </div>

                    {# CARD FOOTER #}
                    <div class="card-footer d-flex justify-content-between">
                        {# Timestamp #}
                        <div class="text-muted small">
                            {{post.timestamp|timesince}} ago
                            <br>
                            {{ post.timestamp|date:"n-d-y g:i a" }}
                        </div>
                        
                        {# Like Button #}
                        <button {% if user.is_authenticated %}
                                onclick="like_post({{post.id}})"
                                {% endif %}
                                id="like-btn-{{post.id}}"
                                class="h-auto my-auto btn
                                {% if post in liked_posts %}
                                    btn-warning
                                {%else%}
                                    btn-outline-secondary
                                {% endif %}"
                                data-toggle="popover-like"
                                >

                                <span class="mr-1">
                                    <i id="liked-icon-{{post.id}}" 
                                       class="{% if post in liked_posts %} fas {%else%} far {%endif%} fa-thumbs-up">
                                    </i>
                                </span>

                                <span id="like-count-{{post.id}}">{{ post.like_count }}</span> likes
                        </button>

                    </div>
                </div>
        
            </div>
        {% empty %}
            {# EMPTY Placeholder #}
            <div class="grid-sizer w-100"></div>
            <div class="grid-item w-100">
                <div class="grid-item-content">
                    <div class="bg-secondary text-light p-5 m-3 text-center">
                        <i class="far fa-sad-tear display-1 mb-3"></i>
                        <h3>Nothing here</h3>
                        <h5>No posts yet</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{# Pagination Links #}
<nav aria-label="Post Page Navigation">
    <div class="pagination">
        <span class="step-links mx-auto">

            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </li>
                {% endif %}

                {% for i in page_range %}
                <li class="page-item {% if i == page_obj.number %} active {% endif %}">
                    <a class="page-link " href="?page={{ i }}">
                        {{ i }}
                    </a>
                </li>
                {% endfor %}
        
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </span>
    </div>
</nav>

{# Masonry, Edit, and Like Scripts #}
<script src="{% static 'network/js/like_post.js' %}"></script>
<script src="{% static 'network/js/edit_post.js' %}"></script>
<script src="{% static 'network/js/delete_post.js' %}"></script>
<script src="{% static 'network/js/masonry.js' %}"></script>