{% extends "network/layout.html" %}

{% block body %}

<h1>User Profile for {{  profile_owner.username }}</h1>

<div class="badge">
    Following: {{ profile_owner.following.count }}
    <br>
    {{ following }}
</div>

<div class="badge">
    Followers: {{ profile_owner.followed_by.count }}
    <br>
    {{ followers }}
</div>

{% if profile_owner == request.user %}
    ME!
{% else %}
    {# TODO #}
    {# Use Fetch to Get this Value - if followed or not #}
    {% if profile_owner in followers.followed_by %}
        <a href='{% url 'follow_toggle' profile_owner.id %}'>Unfollow</a>
    {% else %}
        <a href='{% url 'follow_toggle' profile_owner.id %}'>Follow</a>
    {%endif%}
{% endif %}

<hr>

<h3>Posts by {{ profile_owner }}</h3>


{% for post in posts %}
    <div class="card bg-light m-3">
        <div class="card-header">
            {{post.title}}
        </div>
        <div class="card-body">
            {{post.text}}
        </div>
        <div class="card-footer">
            {{post.timestamp}}
        </div>
    </div>
{% endfor %}

{% endblock %}