{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{# Identity Header + Follow/Unfollow Link #}
{% if profile_owner == request.user %}
    <div class="bg-info px-3 py-1 text-right">
        <h4 class="m-0 text-primary"> 
            My User Profile
        </h4>
    </div>
{% else %}
    <div class="bg-info px-3 py-1 text-right d-flex justify-content-end">

        <div>
            <button id="user-follow-{{profile_owner.id}}"
                    data-toggle="popover-follow"
                    data-placement="top"
                    data-trigger="manual"
                    {% if user in user_followers %}
                        data-content="Unfollowed!"
                    {% else %}
                        data-content="Followed!"
                    {% endif %}
                    class="btn btn-sm p-0 mr-4 py-1 px-3
                    {% if user in user_followers %}
                        btn-danger 
                    {% else %}
                        btn-warning
                    {% endif %}
                    ">
                <span class="text-decoration-none font-weight-bold text-white mx-2" 
                    onclick="follow_user({{profile_owner.id}})">
                    {% if user in user_followers %}
                        <i id="user-follow-fa-{{profile_owner.id}}"
                            class="fas fa-user-minus mr-1">
                        </i>
                        <span id="user-follow-span-{{profile_owner.id}}">
                            Unfollow
                        </span>
                    {% else %}
                        <i id="user-follow-fa-{{profile_owner.id}}"
                            class="fas fa-user-plus mr-1">
                        </i>
                        <span id="user-follow-span-{{profile_owner.id}}">
                            Follow
                        </span>
                    {%endif%}
                </span>
            </button>
        </div>
        
        <div class="h4 font-brand mt-auto mb-0 text-primary">
            {{  profile_owner.get_full_name }}'s Profile
        </div>
    </div>
{% endif %}

{# Page Title + Follower/Following stats #}
<div class="m-3 px-3 d-flex">
    <div class="mr-3">
        <h3 class="m-0">
            {% if request.user == profile_owner %}
                Your Posts
            {% else %}
                Posts by {{ profile_owner }}
            {% endif %}
        </h3>
    </div>

    {# Following and Follower Indicator #}
    <div class="my-auto">
        <a class="font-weight-bold btn btn-sm btn-info px-5 mr-2"
            {% if following %}
                data-toggle="popover"
                data-placement="bottom"
                data-html="true"
                data-content="
                    {% for u in following %}
                        <div class='btn btn-info btn-sm d-block m-2'>
                            <a href='{% url 'user_profile' u.following.id %}' class='text-decoration-none text-white px-5 text-nowrap'>{{ u.following.get_full_name }}</a>
                        </div>
                    {% endfor %}
                "
            {% endif %}
            >
            <i class="fas fa-user-tag mr-2"></i>
            Following: {{ profile_owner.followed_by.count }}
        </a>
    </div>

    <div class="my-auto">
        <a class="font-weight-bold btn btn-sm btn-success px-5"
            {% if followers %}
                data-toggle="popover"
                data-placement="bottom"
                data-html="true"
                data-content="
                    {% for u in followers %}
                        <div class='btn btn-success btn-sm d-block m-2'>
                            <a href='{% url 'user_profile' u.followed_by.id %}' class='text-decoration-none text-white px-5 text-nowrap'>
                                {{ u.followed_by.get_full_name }}
                            </a>
                        </div>
                    {% endfor %}
                "
            {% endif %}
            >
            <i class="fas fa-users mr-2"></i>
            Followers: {{ profile_owner.following.count }}
        </a>
    </div>
</div>

{% include "network/posts-masonry.html" %}


<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover({  })
})
</script>

<script src="{% static 'network/js/follow_user.js' %}"></script>

{% endblock %}