{% extends "network/layout.html" %}
{% load static %}

{% block body %}


{% if profile_owner == request.user %}
    <div class="bg-info px-3 py-1 text-right">
        <h4 class="m-0 text-primary"> 
            My User Profile
        </h4>
    </div>
{% else %}
    {# TODO #}
    {# Use Fetch to Get this Value - if followed or not #}
    <h1>User Profile for {{  profile_owner.username }}</h1>

    {% if profile_owner in followers.followed_by %}
        <a href='{% url 'follow_toggle' profile_owner.id %}'>Unfollow</a>
    {% else %}
        <a href='{% url 'follow_toggle' profile_owner.id %}'>Follow</a>
    {%endif%}
{% endif %}

<hr>
{# Following and Follower Links #}

<div class="badge">
    Following: {{ profile_owner.following.count }}
    <br>
    {{ following }}
</div>

<div class="badge">
    Followers: {{ profile_owner.followed_by.count }}
    <br>
    {{ followers }}
</div>

<hr>

<h3>{% if request.user == profile_owner %} Your Posts {% else %} Posts by {{ profile_owner }} {% endif %}</h3>

{% include "network/posts-masonry.html" %}


{% endblock %}