.navbar-logo {
    max-height: 2.3rem;
}

.post-image {
    max-height: 512px;
}

.font-brand, h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous', cursive;
}

#liked {
    cursor: pointer;
}

.grid-item-content {
    transition: width 0.3s, height 0.3s;
}

.prewrap {
    white-space: pre;
}

textarea, .post-text {
    min-height: 30px;
}